* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary);
}

:root {
    --primary:#0b0c10;
    --words: #66fcf1;
    --border: #1f2833;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 10%;
    color: var(--words)
}

h2 {
    color: var(--words)
}

.nav_links {
    list-style: none;
}

.nav_links {
    display: inline-block;
    padding: 0px 20px;
}

p {
    color: var(--words);
}

ul li a{
    color: var(--words)
}

ul li a:hover {
    background: var(--border);
    color: #fff;
}

section .my-work {
    border: 4px 4px 4px 4px color var(--border);
}

.about-me {
    margin: 20px;
}

.my-work {
    background-color: var(--border);
    padding: 100% var(--border); 
    margin: 20px;
}

.contact_me {
    background-color: var(--border);
}

footer {
    margin: 20px;
    
}