* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary);
}

:root {
    --primary:#152833;
    --header: #66fcf1;
    --words: #C5C6C7;
    --border: #45829e;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: groove;
    border-color: var(--border);
    padding: 30px 10%;
     color: var(--header);
     font-family: Verdana, Tahoma, sans-serif
 }

h1 {
    color: var(--header);
    font-family: Verdana, Tahoma, sans-serif
}


h2 {
    color: var(--header);
    padding: 20px;
    border-style: solid;
     border-color: var(--border);
    font-family: Verdana, Tahoma, sans-serif
}

.nav_links {
    display: inline;
    padding: 0px 20px;
    list-style: none;
    font-family: Verdana, Tahoma, sans-serif;
}


.nav_links a {
    transition: all 0.3 ease 0s;
}

p {
    color: var(--words);
    font-family: Verdana, Tahoma, sans-serif;
}

ul li a{
    color: var(--words);
    display: inline;
}

ul li a:active {
    background: var(--border);
}

section .my-work {
    border: 4px 4px 4px 4px color var(--border);
    margin-bottom: 10px;
}

.about-me {
    margin: 20px;
}

.my-work {
    background-color: var(--border);
    padding: 100% var(--border); 
}

.my-work li {
    list-style: none;
    display: inline;
    margin-top: 10px;
}

.img-daisy {
    border: 3px solid var(--border);
}

.study-guide {
    rotate: -2deg;
    margin: 30px;
}

.horiseon {
    rotate: 1deg;
    margin: 20px;
}

.contact-me ul {
    list-style-type: none;
    display: inline;
}

footer {
    margin: 100px;
    
}
